@font-face {
	font-family: 'Gotham-Rounded-Book';
	src: url('gotham-rounded/Gotham-Rounded-Book_21018.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham-Rounded-Bold';
	src: url('gotham-rounded/Gotham-Rounded-Bold_21016.ttf');
}

body {
	color: white;
	font-family: 'Gotham-Rounded-Book';
	background-image:url(img/background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment:fixed;
}

/* Titre important */

h1 {
	font-family: 'Gotham-Rounded-Bold';
}

h2 {
	font-family: 'Gotham-Rounded-Book';
}

p {

}

center {
	margin-top: 200px;
}

form {
	font-family: 'Gotham-Rounded-Book';
}

input {
	font-size: 18px;
	font-family: 'Gotham-Rounded-Book'
}

/* Label */

label {
	font-family: 'Gotham-Rounded-Book';
}

/* Liste */

ul {
	background-color: #446cb3;
	border-radius: 10px;
	font-family: 'Gotham-Rounded-Book';
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 344px;
	box-shadow: 1px 4px 10px #22313f;
}

ul li a {
	text-decoration: none;
	font-size: 20px;
	color: #ffffff;
	margin: 20px 0;
}

a.pad_a {
	vertical-align: middle;
}

li {
	height: 100px;
	line-height: 100px;
}

.border_li {
	width: 344px;
	border-top: 3px solid #22a7f0;
}

/* Admin part */

hr {
	border-width: 3px 0px 0px;
	border-style: solid none none;
	border-color: #22a7f0;
}

.div-auth {
	background-color: #446cb3;
	border-radius: 10px;
	font-family: 'Gotham-Rounded-Book';
	list-style-type: none;
	padding: 0;
	margin: auto;
	width: 344px;
}

.input-auth input[=text], input[=password] {
	background-color: #446cb3;	
}

/* Button */
button {
  font-family: 'Gotham-Rounded-Book';
  color: #ffffff;
  font-size: 20px;
  background: #446cb3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.access {
  border-radius: 28px;	
  width: 176px;
  height: 40px;
}