@font-face {
	font-family: 'Gotham-Rounded-Book';
	src: url('Gotham-Rounded-Book_21018.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham-Rounded-Bold';
	src: url('Gotham-Rounded-Bold_21016.ttf');
}

body {
	color: white;
	font-family: 'Gotham-Rounded-Book';
	background-image:url(img/background.png);
	background-attachment:fixed;
}

/* Titre important */

h1 {
	font-family: 'Gotham-Rounded-Bold';
}

h2 {
	font-family: 'Gotham-Rounded-Book';
}

p {

}

center {
	margin-top: 200px;
}

form {
	font-family: 'Gotham-Rounded-Book';
}

input {
	font-size: 18px;
	font-family: 'Gotham-Rounded-Book'
}

/* Label */

label {
	font-family: 'Gotham-Rounded-Book';
}

button {
	font-family: 'Gotham-Rounded-Book';
}
