@font-face {
	font-family: 'Gotham-Rounded-Book';
	src: url('Gotham-Rounded-Book_21018.ttf') format('truetype');
}

@font-face {
	font-family: 'Gotham-Rounded-Bold';
	src: url('Gotham-Rounded-Bold_21016.ttf');
}

body {
	color: white;
	font-family: 'Gotham-Rounded-Book';
	background-image:url(img/background.png);
	background-attachment:fixed;
}

/* Titre important */

h1 {
	font-family: 'Gotham-Rounded-Bold';
}

h2 {
	font-family: 'Gotham-Rounded-Book';
}

p {

}

center {
	margin-top: 200px;
}

form {
	font-family: 'Gotham-Rounded-Book';
}

input {
	font-size: 18px;
	font-family: 'Gotham-Rounded-Book'
}

/* Label */

label {
	font-family: 'Gotham-Rounded-Book';
}

/* Liste */

ul {
	background-color: #446cb3;
	border-radius: 10px;
	font-family: 'Gotham-Rounded-Book';
	width: 344px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li a {
	text-decoration: none;
	font-size: 20px;
	color: #ffffff;
	margin: 20px 0;
}

a.pad_a {
	vertical-align: middle;
}

.border_li {
	width: 344px;
	border-top: 3px solid #22a7f0;
}

li {
	height: 100px;
	line-height: 100px;
}

/* Button */
button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Gotham-Rounded-Book';
  color: #ffffff;
  font-size: 20px;
  background: #446cb3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
